html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-fluid,
.container-fluid>.row,
.container-fluid>.row>.col,
.container-fluid>.row>.w-200 {
    height: 100%;
}

#leftPanel,
#rightPanel {
    margin: 0;
    padding: 0;
}